<th:block th:replace="frags :: head('Dettaglio pizza: ' + ${pizza.name})">
</th:block>
<body>
    <header>
      <nav th:replace="frags:: navbar"></nav>
        <h1 class="text-center text-yellow mb-3">Dettagli pizza con ID: [[${pizza.id}]]</h1>
    </header>
    <main>
        <div class="container-fluid">
			<div th:if="${updateMessage != undefined}" class="d-flex justify-content-center">
			<div th:text="${updateMessage}" class="alert alert-success" role="alert">
					</div>
				</div>
            <div class="d-flex justify-content-center mb-3">
					
                <div
                th:insert="frags :: bsCard(${pizza})">
                <a th:replace="frags :: buttonr('Torna indietro', @{/pizzas})"></a>  
         
                </div>

                
                
            </div>
          <!-- INGREDIENTS -->
            <h4 class="text-center text-yellow">Lista ingredienti</h4>
            <div class="d-flex justify-content-center">
                <div th:if="${#lists.isEmpty(pizza.ingredients)}" class="alert alert-light" role="alert">
                    Non ci sono ingredienti aggiungi a questa pizza
                  </div>
                <table th:if="${!#lists.isEmpty(pizza.ingredients)}"
                 class="table offer-table table-primary text-center">
                    <thead>
                      <tr>
						            <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  
                      th:each="ingredient : ${pizza.ingredients}"
                      th:object="${ingredient}">
                         <td class="w-50">[[*{id}]]</td>
                         <td class="w-50">[[*{name}]]</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
                <!-- OFFERS  -->
            <h4 class="text-center text-yellow">Lista offerta speciali</h4>
            <div class="d-flex justify-content-center mb-1">
                <a
                sec:authorize="hasAuthority('ADMIN')" 
                class="btn btn-warning" th:href="@{/pizzas/{id}/addOffer(id=*{id})}">Aggiungi un'offerta</a>
            </div>
            <div class="d-flex justify-content-center">
                <div th:if="${#lists.isEmpty(pizza.specialOffers)}" class="alert alert-light" role="alert">
                    Non ci sono offerte speciali per questa pizza
                  </div>
                <table th:if="${!#lists.isEmpty(pizza.specialOffers)}"
                 class="table offer-table table-primary">
                    <thead>
                      <tr>
						<th scope="col">ID</th>
                        <th scope="col">Titolo</th>
                        <th scope="col">Data inizio</th>
                        <th scope="col">Data fine</th>
                        <th
                         sec:authorize="hasAuthority('ADMIN')"
                         scope="col">Azioni</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  
                      th:each="offer : ${pizza.specialOffers}"
                      th:object="${offer}">
                         <td>[[*{id}]]</td>
                         <td>[[*{title}]]</td>
                        <td>[[*{htmlStartDate}]]</td>
                        <td>[[*{htmlEndDate}]]</td>
                        <td
                        sec:authorize="hasAuthority('ADMIN')"
                        ><a th:href="@{/pizzas/{id}/editOffer/{offerId}(id=*{pizza.id}, offerId=*{id})}" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            
        </div>
    </main> 
</body>
</html>

