<th:block th:replace="frags :: head(${specialOffer.id < 1 ? 'Crea una nuova offerta per la pizza ' + pizza.name : 'Modifica offerta con ID: ' + specialOffer.id})">
</th:block>
<body>
    <header>
        <nav th:replace="frags:: navbar"></nav>
        <h1 th:text="${specialOffer.id < 1 ? 'Crea una nuova offerta per la pizza ' + pizza.name : 'Modifica offerta con ID: ' + specialOffer.id}" class="text-center text-yellow mb-3"></h1>
    </header>
    <main>
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
			<!-- REQUIRED E VALIDAZIONI HTML5 ULTERIORE NON INSERITE PER ESPLICITA VALIDAZIONE BACKEND-ONLY -->
                <form class="p-4 my-form" method="post" th:object="${specialOffer}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="mb-3">
                        <label for="name" class="form-label">Titolo</label>
                        <input type="text" class="form-control" name="title" placeholder="Titolo dell'offerta" th:field="*{title}" th:classappend="${#fields.hasErrors('title') ? 'is-invalid': ''}">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}">
                            <p th:each="err : ${#fields.errors('title')}" th:text="${err}" class="m-0 text-danger"></p>
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="startDate" class="form-label">Data di inizio</label>
                        <input type="date" class="form-control" name="startDate" th:value="*{htmlStartDate}" th:classappend="${#fields.hasErrors('startDate') ? 'is-invalid': ''}">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('startDate')}">
                            <p th:each="err : ${#fields.errors('startDate')}" th:text="${err}" class="m-0 text-danger"></p>
                          </div>
                      </div>
                      <div class="mb-3">
                        <label for="endDate" class="form-label">Data di fine</label>
                        <input type="date" class="form-control" name="endDate" th:value="*{htmlEndDate}" th:classappend="${#fields.hasErrors('endDate') ? 'is-invalid': ''}">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endDate')}">
                            <p th:each="err : ${#fields.errors('endDate')}" th:text="${err}" class="m-0 text-danger"></p>
                          </div>
                      </div>
                      <div class="mb-3 d-flex">
                        <button th:text="${specialOffer.id < 1 ? 'Aggiungi' : 'Modifica'}" type="submit" class="btn btn-primary me-2"></button>
                        <a th:href="@{/pizzas}" class="btn btn-danger">Indietro</a>  
                      </div>
                </form>
                
            </div>
        </div>
    </main> 
</body>
</html>